/* 表格头部的查询功能输入框样式 */
.table-top-title-wrapper{
  .ant-form-item{
    display: flex;
    margin-right: 0px;
    margin-bottom: 10px;
    .ant-form-item-control-wrapper{
      flex: 1;
      display: inline-block;
        vertical-align: middle;
    }
    .ant-form-item-control{
      height: 32px;
      line-height: 32px;
    }
    > .ant-form-item-label{
      padding-right: 8px;
      height: 32px;
      line-height: 32px;
    }
  }
}

/* footer高度 */
.ant-layout-footer{
  padding: 14px 50px;
}

/*限定Viser的位置*/
.chart-wrapper {
  position: absolute;
  bottom: -28px;
  width: 100%;
}
// card样式
.ant-card {
  .ant-card-body{
    padding: 14px 14px;
  }
}